= simple_form_for @advertise do |f|
  = f.error_notification
  .form-inputs
    .row
      %h3
        %b Paso 1: Ubicaci贸n e info del inmueble
    .row
      .col-md-6
        .row
          .col-md-6
            .btn-group
              %a.btn.btn-default{:href => "#"} Region
              %a.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} La Paz
                %li
                  %a{:href => "#"} Cochabamba
          .col-md-6
            .btn-group
              %a.btn.btn-default{:href => "#"} Area
              %a.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} La Paz
                %li
                  %a{:href => "#"} Cochabamba
        = f.input :title, label: 'Titulo de la publicacion'
        = f.input :description, label: 'Descripci贸n'
        = f.input :direction, label: 'Direcci贸n'
        = f.input :property_type_id, collection: PropertyType.all_types, label: 'Tipo de propiedad'
        = f.input :transaction_type_id, collection: TransactionType.all_types, label: 'Tipo de transacci贸n'

        %br/

        = f.input :price, label: 'Precio'
        .row
          .col-md-4
            = f.input :negotiable, label: 'Negociable'
          .col-md-4
            = f.input :credit, label: 'Financiamiento'
          .col-md-4
            = f.input :price_m2, label: 'm2'
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Mapa
          .panel-body
            = f.input :negotiable, label: 'Sin Marca'
            =image_tag('mapa.png')
        CARACTERISTICAS:
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Ambientes
          .panel-body
            - Feature.ambientes.each do |feature|
              = check_box_tag 'advertise[feature_ids][]', feature.id
              = feature.description
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Comodidades
          .panel-body
            - Feature.comodidades.each do |feature|
              = check_box_tag 'advertise[feature_ids][]', feature.id
              = feature.description
    .row
      .col-md-12
        %h3
          %b Paso 2: Info de contacto
    .row
      .col-md-6
        = f.input :user_id, as: :hidden, input_html: {value: current_user.identification}
        = f.input :name_contact, label: 'Nombre de contacto'
        = f.input :phone_contact, label: 'Telefono de referencia'
        = f.input :time_to_contact, label: 'Hora preferida para ser contactado'
    .row
      .col-md-12
        %h3
          %b Paso 3: Subir Fotos y videos
        %h4
          %b Fotos

          = f .simple_fields_for :photos do |photo|
            = render 'advertises/photo_fields', :f => photo
          .links
            = link_to_add_association 'Agregar foto ', f, :photos
      %h4
        %b Videos
    .row
      %h4
        %b Videos
    .row.text-center

      %input#user_options_true{:name => "acceptance", :type => "checkbox", :value => "true"}/
      %label.collection_check_box{:for => "acceptance_true"}
        =link_to ("Acepto los terminos y condiciones"), terms_and_conditions_page_path, target: "_blank"
    .row
      .col-md-12.text-center
        .form-actions
        = button_tag 'Publicar Anuncio Ahora', data:{disable_with: "<i class='fa fa-spinner fa-spin'></i> Publicando Anuncio...".html_safe}, class: "btn btn btn-success btn-lg"
        = button_tag 'Guardar Anuncio para Publicar luego', data:{disable_with: "<i class='fa fa-spinner fa-spin'></i> Guardando Anuncio...".html_safe}, class: "btn btn btn-warning btn-lg"
        = button_tag 'Descartar e Ir a Pagina Principal', data:{disable_with: "<i class='fa fa-spinner fa-spin'></i> Descartando Anuncio...".html_safe}, class: "btn btn btn-danger btn-lg"