= simple_form_for @advertise do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-12
        %h3
          %b Paso 1: Ubicación e info del inmueble
    .row
      .col-md-6

        = f.input :title, label: 'Titulo'
        = f.input :description, label: 'Descripción'
        = f.input :direction, label: 'Dirección'
        = f.input :price, label: 'Precio'
        .row
          .col-md-4
            = f.input :negotiable, label: 'Negociable'
          .col-md-4
            = f.input :credit, label: 'Financiamiento'
          .col-md-4
            = f.input :price_m2, label: 'm2'
        = f.association :property_type
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Mapa
          .panel-body
            = f.input :negotiable, label: 'Sin Marca'
            =image_tag('mapa.png')
    .row
      .col-md-12
        %h3
          %b Paso 2: Info de contacto
    .row
      .col-md-6
        = f.input :name_contact, label: 'Nombre de contacto'
        = f.input :phone_contact, label: 'Telefono de contacto'
        = f.input :time_to_contact, label: 'Hora preferida para ser contactado'
    .row
      .col-md-12
        %h3
          %b Paso 3: Fotos y videos
    .row
      .col-md-6
        %input#user_options_true{:name => "acceptance", :type => "checkbox", :value => "true"}/
        %label.collection_check_box{:for => "acceptance_true"}   Acepto terminos y condiciones
      .col-md-6
        something goes here
    .row
      .col-md-12
        .form-actions
        = f.submit 'Crear'