= simple_form_for @advertise do |f|
  = f.error_notification
  .form-inputs
    .row
      %h3
        %b Paso 1: Ubicaci贸n e info del inmueble
    .row
      .col-md-6
        .row
          .col-md-6
            .btn-group
              %a.btn.btn-default{:href => "#"} Region
              %a.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} La Paz
                %li
                  %a{:href => "#"} Cochabamba
          .col-md-6
            .btn-group
              %a.btn.btn-default{:href => "#"} Area
              %a.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} La Paz
                %li
                  %a{:href => "#"} Cochabamba
        = f.input :title, label: 'Titulo de la publicacion'
        = f.input :description, label: 'Descripci贸n'
        = f.input :direction, label: 'Direcci贸n'
        = f.fields_for :property_type do |p|
          = p.input :property_type, collection: PropertyType.all_types, label: 'Tipo de propiedad'
        = f.fields_for :transacion_type do |p|
          = p.input :transacion_type, collection: TransactionType.all_types, label: 'Tipo de transacci贸n'
        -#= f.association :property_type
        -#= f.association :transaction_type
        = f.input :price, label: 'Precio'
        .row
          .col-md-4
            = f.input :negotiable, label: 'Negociable'
          .col-md-4
            = f.input :credit, label: 'Financiamiento'
          .col-md-4
            = f.input :price_m2, label: 'm2'
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Mapa
          .panel-body
            = f.input :negotiable, label: 'Sin Marca'
            =image_tag('mapa.png')
    .row
      .col-md-12
        %h3
          %b Paso 2: Info de contacto
    .row
      .col-md-6
        = f.input :name_contact, label: 'Nombre de contacto'
        = f.input :phone_contact, label: 'Telefono de contacto'
        = f.input :time_to_contact, label: 'Hora preferida para ser contactado'
    .row
      .col-md-12
        %h3
          %b Paso 3: Subir Fotos y videos
        %h4
          %b Fotos
        %h4
          %b Videos
    .row
      %input#user_options_true{:name => "acceptance", :type => "checkbox", :value => "true"}/
      %label.collection_check_box{:for => "acceptance_true"}   Acepto terminos y condiciones
    .row
      .col-md-12.text-center
        .form-actions
        = f.submit 'Descartar e Ir a Pagina Principal', {:class => "btn btn-danger btn-lg", "data-toggle" => "modal", "data-target" => "#myModal"}
        #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                %h4#myModalLabel.modal-title Cancelar anuncio?
              .modal-body
                Estas Seguro bla bla
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                %button.btn.btn-primary{:type => "button"} Save changes
        = f.submit 'Guardar Para Publicar Luego', {:class => "btn btn-warning btn-lg"}
        = f.submit 'Publicar Anuncio Ahora', {:class => "btn btn-success btn-lg"}