%h3 La Paz / Sopocachi / Casas / Venta
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Direction
      %th Price
      %th Negotiable
      %th Credit
      %th Price M2
      %th Name contact
      %th Phone contact
      %th Time to contact
      %th Visits number
      %th Publish date
      %th Validate date
      %th Code
      %th user_id
      %th

  %tbody
    - @advertises.each do |advertise|
      %tr
        %h4
          = link_to advertise.title, advertise_path(advertise)
        %p
          %b
            = advertise.price
        %p
          = advertise.description
        %p
          = advertise.publish_date

= paginate @advertises, :theme => 'twitter-bootstrap-3'
