%h3 La Paz / Sopocachi / Casas / Venta
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th
      %th Precio ($)
      %th Publicado
  %tbody
    - @advertises.each do |advertise|
      %tr
        %td
          = image_tag('house_thumbnail.png')
        %td
          %h4
            = link_to advertise.title, advertise_path(advertise)
          %p
            = advertise.description
        %td
          %p
            %h5
              = advertise.price
        %td
          %p
            = friendly_date advertise.created_at
.row.text-center
  = paginate @advertises, :theme => 'twitter-bootstrap-3'
