.row
  .col-md-12
    .slider.responsive
      .multiple
        = image_tag("housetest.jpg")
        .row
          .col-md-6
            %h6 Titulo anuncio 1
          .col-md-2
            %h6.b 100000
          .col-md-4
            %h6 SCZ/abdfads
      .multiple
        = image_tag("housetest.jpg")
        .row
          .col-md-6
            %h6 Titulo anuncio 2
          .col-md-2
            %h6.b 100000
          .col-md-4
            %h6 SCZ/abdfads
      .multiple
        = image_tag("housetest.jpg")
        .row
          .col-md-6
            %h6 Titulo anuncio 3
          .col-md-2
            %h6.b 100000
          .col-md-4
            %h6 SCZ/abdfads
      .multiple
        = image_tag("housetest.jpg")
        .row
          .col-md-6
            %h6 Titulo anuncio 4
          .col-md-2
            %h6.b 100000
          .col-md-4
            %h6 SCZ/abdfads
.row
  .col-md-6
    = render partial: 'latest_ads'
  .col-md-6
    = render partial: 'latest_requests'
.row
  .jumbotron
    .row
      .col-md-7
        %h2
          %b Es usted un Agente Inmobiliario o representa a una Inmobiliaria?
        %br/
        %p La cuenta profesional es para usted.
        %br/
        = link_to 'Mas info', professional_account_page_path, class: 'btn.btn-primary.btn-lg'
        -# %a.btn.btn-primary.btn-lg.text-center{:href => "#"} Mas informacion
      .col-md-5
        = link_to image_tag('agente.png'), "#"
.row
  .content-space
    .text-center
      %h1.parallax-text
        Venda y Compre Inmuebles en Bolivia
      .page-break
      %h3.parallax-text
        Casas, Departamentos, Terrenos, ...
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        %ul#interest_tabs.nav.nav-tabs
          / top level tabs
          %li
            %a{"data-toggle" => "tab", :href => "#all"} Todo
          %li
            %a{"data-toggle" => "tab", :href => "#brands"} Venta
          %li
            %a{"data-toggle" => "tab", :href => "#media"} Alquiler
        / top level tab content
        .tab-content
          / all tab menu
          #all.tab-pane
            %ul#all_tabs.nav.nav-tabs
              %li
                %a{"data-toggle" => "tab", :href => "#all_popular"} Casa
              %li
                %a{"data-toggle" => "tab", :href => "#all_unique"} Dpto
          / brands tab menu
          #brands.tab-pane
            %ul#brands_tabs.nav.nav-tabs
              %li
                %a{"data-toggle" => "tab", :href => "#brands_popular"} Casas
              %li
                %a{"data-toggle" => "tab", :href => "#brands_unique"} Dpto
          / media tab menu
          #media.tab-pane
            %ul#media_tabs.nav.nav-tabs
              %li
                %a{"data-toggle" => "tab", :href => "#media_popular"} Casas
              %li
                %a{"data-toggle" => "tab", :href => "#media_unique"} Dpto

        / all tab content
        .tab-content
          #all_popular.tab-pane
            %i todas las casas  aqui
          #all_unique.tab-pane
            %i todos los dptos aqui
        / brands tab content
        .tab-content
          #brands_popular.tab-pane
            %i casas en venta
          #brands_unique.tab-pane
            %i ventas dptos
        / media tab content
        .tab-content
          #media_popular.tab-pane
            %i casas alquiler
          #media_unique.tab-pane
            %i dptos en alquiler

  .col-md-6
    %table.table.table-striped.table-hover
      %thead
        %h4 Foro
        %tr
          %th Fecha
          %th Pregunta
          %th Autor
          %th Respuetas
      %tbody
        %tr
          %td 21/06
          %td b bla bla blalbl
          %td Column/content
          %td 3
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td 4
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td 7
    .div.text-center
      %ul.pagination.pagination-sm
        %li.disabled
          %a{:href => "#"} <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>