%p#notice= notice

%p
  %b Image:
  = @photo.image
%p
  %b Description:
  = @photo.description

= image_tag attachment_url(@photo, :image)

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
